trigger:
  branches:
    include:
    - main
  paths:
    include:
    - app-code/backend/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  containerRegistry: 'hub.fliplabs.net'
  imageName: 'postgresql-app-backend'
  dockerfilePath: 'app-code/backend/Dockerfile'
  buildContext: 'app-code/backend'

stages:
- stage: Build
  displayName: 'Build and Push Image'
  jobs:
  - job: BuildJob
    displayName: 'Build Docker Image'
    steps:
    
    - task: Docker@2
      displayName: 'Build Backend Image'
      inputs:
        command: build
        repository: $(imageName)
        dockerfile: $(dockerfilePath)
        buildContext: $(buildContext)
        tags: |
          $(Build.SourceVersion)
          latest
    
    - task: Docker@2
      displayName: 'Push to Registry'
      inputs:
        command: push
        repository: $(containerRegistry)/$(imageName)
        tags: |
          $(Build.SourceVersion)
          latest
    
    - bash: |
        sed -i "s|image: .*backend.*|image: $(containerRegistry)/$(imageName):$(Build.SourceVersion)|g" k8s-manifests/base/deployment.yaml
      displayName: 'Update Image Tag in Manifest'
    
    - bash: |
        git config --global user.email "azurepipeline@devops.com"
        git config --global user.name "Azure Pipeline"
        git add k8s-manifests/base/deployment.yaml
        git commit -m "Update image to $(Build.SourceVersion) [skip ci]"
        git push origin HEAD:main
      displayName: 'Commit Updated Manifest'
      env:
        SYSTEM_ACCESSTOKEN: $(System.AccessToken)
